includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    # TODO Add array types
    checkMissingIterableValueType: false
    paths:
        - src/
